{% extends "base.html" %}

{% block main %}
  <article class="card border-dark" style="max-width: 640px">
    <div class="card-body">
      <h1><span class="text-primary">#{{ seed }}</span>: sei stato bravo/a?</h1>
      <p>
        Per ricevere il tuo CD di Natale devi essere stato bravo. Gli elfi ti hanno
        scritto una letterina, verifica che nessuno te l'abbia messa nello spam e fai
        click sul link di verifica per far partire la preparazione dell'album.
      </p>
    </div>
  </article>
{% endblock %}